<html>
    <body>

        <h2>Confirm your email</h2>
        </br>
        <p>Hello, </p>
        <p>
            You’re receiving this message because you recently signed up for a <b>RoSaaS</b> account.
        </p>
        <p>
            Please confirm your email address by clicking <a style="font-weight:bold;" href="##EmailConfirmationUrl##">Here</a>
        </p>
        <p>
            This step adds extra security to your business by verifying you own this email.
        </p> 
        <p>Thanks for using <b>RoSaaS</b> platform</p>
    </body>
</html>